################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/obj
**/bin
**/.config
**/PublishProfiles
/OfficeDailyStatusTracker.Web/OfficeDailyStatusTracker.Web.csproj.user
/OfficeDailyStatusTracker.Api/appsettings.json
/OfficeDailyStatusTracker.Api/appsettings.json
/OfficeDailyStatusTracker.Api/OfficeDailyStatusTracker.Api.csproj.user
/OfficeDailyStatusTracker.Web/appsettings.json
