.statusTrackerContainer .dtableContainer
{
	display: flex;
	justify-content: space-between;
}

.dtableColumn
{
	width: 100%;
}

.dtableColumn .columnHeader 
{
	font-weight: bold;
}

.dtableColumn .columnHeader, .dtableColumn .columnRecords .columnRecord
{
	width: 100%;
	border-bottom: 1px solid dimgray;
}

.dtableColumn .columnRecords .columnRecord
{
	padding-top: 7px;
	padding-bottom: 7px;
}