.statusTrackerContainer .dtableContainer
{
	display: flex;
	justify-content: space-between;
}

.statusTrackerHeader > input
{
	width: fit-content;
	margin-left: 15px;
}

.dtableColumn
{
	width: 100%;
}

.dtableColumn .columnHeader
{
	font-weight: bold;
}

.dtableColumn .columnHeader, .dtableColumn .columnRecords .columnRecord
{
	width: 100%;
	border-bottom: 1px solid dimgray;
}

.dtableColumn .columnRecords .columnRecord
{
	padding-top: 7px;
	padding-bottom: 7px;
}

.modal
{
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
	display: block;
}

.modal-content
{
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	overflow: hidden;
}

.close
{
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus
{
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

i
{
	cursor: pointer;
}