@page "/statustracker"

<PageTitle>Status Tracker</PageTitle>

<div class="statusTrackerContainer">
    <div class="dtableContainer">
        <div class="dtableColumn">
            <div class="columnHeader">S.Nr.</div>
            <div class="columnRecords">
                <div class="columnRecord">1</div>
                <div class="columnRecord">2</div>
                <div class="columnRecord">3</div>
                <div class="columnRecord">4</div>
                <div class="columnRecord">5</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Date</div>
            <div class="columnRecords">
                <div class="columnRecord">01-02-2023</div>
                <div class="columnRecord">01-02-2023</div>
                <div class="columnRecord">01-02-2023</div>
                <div class="columnRecord">01-02-2023</div>
                <div class="columnRecord">01-02-2023</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Name</div>
            <div class="columnRecords">
                <div class="columnRecord">Mani Raj</div>
                <div class="columnRecord">Mani Raj</div>
                <div class="columnRecord">Mani Raj</div>
                <div class="columnRecord">Mani Raj</div>
                <div class="columnRecord">Mani Raj</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Project</div>
            <div class="columnRecords">
                <div class="columnRecord">Project Name</div>
                <div class="columnRecord">Project Name</div>
                <div class="columnRecord">Project Name</div>
                <div class="columnRecord">Project Name</div>
                <div class="columnRecord">Project Name</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Task</div>
            <div class="columnRecords">
                <div class="columnRecord">Task Name</div>
                <div class="columnRecord">Task Name</div>
                <div class="columnRecord">Task Name</div>
                <div class="columnRecord">Task Name</div>
                <div class="columnRecord">Task Name</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Description</div>
            <div class="columnRecords">
                <div class="columnRecord">Description Something</div>
                <div class="columnRecord">Description Something</div>
                <div class="columnRecord">Description Something</div>
                <div class="columnRecord">Description Something</div>
                <div class="columnRecord">Description Something</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Actual Time</div>
            <div class="columnRecords">
                <div class="columnRecord">2 hrs</div>
                <div class="columnRecord">2 hrs</div>
                <div class="columnRecord">2 hrs</div>
                <div class="columnRecord">2 hrs</div>
                <div class="columnRecord">2 hrs</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Category</div>
            <div class="columnRecords">
                <div class="columnRecord">Category Name</div>
                <div class="columnRecord">Category Name</div>
                <div class="columnRecord">Category Name</div>
                <div class="columnRecord">Category Name</div>
                <div class="columnRecord">Category Name</div>
            </div>
        </div>
        <div class="dtableColumn">
            <div class="columnHeader">Actions</div>
            <div class="columnRecords">
                <div class="columnRecord">Edit, Delete</div>
                <div class="columnRecord">Edit, Delete</div>
                <div class="columnRecord">Edit, Delete</div>
                <div class="columnRecord">Edit, Delete</div>
                <div class="columnRecord">Edit, Delete</div>
            </div>
        </div>
    </div>
</div>
